* {
    margin: 0;
    user-select: none;
    text-align: center;
    padding: 2px;
    font-size: 18px;
}

.blackMode{
    color: rgb(226, 226, 226);
    background-color: rgb(21, 21, 21);
    border-color: white;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
    border-color: black;
}

header {
    position: absolute;
    background-color: rgb(0, 0, 0, 0);
    top: 0px;
    max-width: 320px;
    width: 60vw;
    border-bottom: 2px solid;
    height: 25px;
}

main {
    display: none;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid;
    padding: 15px;
    border-radius: 9px;
    width: 78vw;
    max-width: 350px;
    height: 60vh;
}

section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.lado {
    flex-flow: row wrap;
}

.unlocked {
    display: flex;
}

select, input {
    margin: 4px;
    border: 1px solid rgb(35,35,35);
    border-radius: 5px;
    width: 69px;
    background-color: rgb(220,220,220); 
}

button {
    background-color: rgb(201, 167, 0, 0.88);
    border: none;
    font-size: 17px;
    color: black;
    padding: 3px;
}

button.blackMode {
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
    font-size: 17px;
    color: black;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 3px;
}

input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;
}

label.container {
    height: 4vh;
    gap: 5px;
}

label.container:has( input[type="radio"]:checked ){
    background-color: rgb(230, 82, 19);
    height: 4vh;
}

div {
    background-color: rgba(0,0,0,0);
}